extends layout

block content

    h4 #{title}: #{bookinstance.book.title} (#{bookinstance.imprint})
    p Do you really want to delete this book instance? 

    form(action="", method="post") 
        div.form-group 
        input(type="hidden", name="bookinstanceid", required= 'true', value=bookinstance.id)
        button.btn.btn-primary(type="submit") Delete